div[name="interactiveArea"] {
    border: solid 1px black;
    margin: 100px auto;
    padding-top: 20px;
    width: calc(100% - 40px);

    div.graph {
        text-align: center;
    }

    div.detail {
        .tabs {
            background-color: transparent;    
            display: flex;
            line-height: 20px;
        
            .xValue,
            .spacer {
                display: flex;
                flex: 1;
                flex-direction: column;
                font-size: 14px;
                justify-content: space-around;
                padding: 5px 10px;
                text-align: center;
            }
        
            .tab {
                background: linear-gradient(transparent, rgba(0, 0, 0, .2)); 
                border: solid 1px #999;
                border-bottom: none;
                border-top-right-radius: 5px;
                border-top-left-radius: 5px;
                display: flex;
                flex: 1;
                flex-direction: column;
                margin: 0 2px;
                padding: 5px 10px;
                text-align: center;
        
                &:hover {
                    background-color: #d9d9d9; 
                }
        
                &.selected {
                    background: linear-gradient(#d9d9d9, rgba(0, 0, 0, .2), #d9d9d9); 
                    transform: translateY(1px);
                }
        
                span.count {
                    font-size: 20px;
                }
        
                span.label {
                    background-color: white;
                    border-radius: 2px;
                }
            }
        }
        
        .tabContent {
        
            div.horizontal-slider {
                background-color: #d9d9d9;
                border: solid 1px #999;
                color: white;
                display: flex;
                height: 244px;
                
                ul {
                    display: inline-flex;
                    flex-grow: 1;                    
                    list-style: none;
                    margin: 0 10px !important;
                    overflow-x: scroll;
                    overflow-y: hidden;
                    padding: 0;
                    text-indent: 0;
                    white-space: nowrap;
            
                    li {
                        border-radius: 5px;
                        display: inline-block;
                        margin: 20px 20px;
            
                        span {
                            &.priority {
                                font-weight: bold;
                                letter-spacing: 1px;
                                padding-right: 10px;                   
                                text-transform: uppercase;
                            }
                            
                            &.time {
                                color: #ccffcc;
                                padding-right: 10px;                                       
                            }
            
                            &.date {
                                color: #ccffcc;                    
                            }
                        }
            
                        &:hover,
                        &.selected {
                            box-shadow: 0 0 20px black;;
                        }
                    }
                }
            
                button.bumper {
                    background-color: #999;
                    border: none;
                    color: white;
                    display: inline-flex;
                    padding: 0 10px;
                    outline: none;
            
                    &.x {
                        display: flex;
                        justify-content: space-around;
                    }
            
                    span.y {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                    }
            
                    &:hover {
                        cursor: pointer;
                    }
            
                    &:active {
                        background-color: #777;
                    }
            
                    &[disabled] {
                        color: gray;
                    }
                }
            }
        }
    }
}
