@font-face {
    font-family: 'Inconsolata';
    src: url('./assets/fonts/Inconsolata-Regular.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/Roboto-Thin.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

:root {
    --cytellix-dark: rgba(55, 71, 79, 1);
    --cytellix-medium: rgba(55, 71, 79, .5);
    --cytellix-light: rgba(55, 71, 79, .1);
    --blue-dark: rgba(98, 159, 254, 1);
    --blue-light: rgba(98, 159, 254, .25);
    --green-dark: rgba(0, 218, 144, 1);
    --green-light: rgba(0, 218, 144, .25);
    --grey-dark: rgba(182, 182, 182, 1);
    --grey-medium: rgba(182, 182, 182, .5);    
    --grey-light: rgba(182, 182, 182, .1);    
    --red-dark: rgba(255, 0, 43, 1);
    --red-light: rgba(255, 0, 43, .25);
    --yellow-dark: rgba(255, 162, 0, 1);
    --yellow-light: rgba(255, 162, 0, .25);
}

body {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
}

.clickable {
    cursor: pointer;

    :active {
        opacity: .5;
    }
}

div[name=Header] {
    background: linear-gradient(0deg, var(--cytellix-dark), black);
    color: white;
    height: 50px;
    position: fixed;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    top: 0;
    width: 100%;

    div.inner {
        display: flex;
        flex-direction: row;
        height: 100%;
        margin: auto;
        width: 90%;
        
        b.app-name {
            align-self: center;
        }

        nav {
            height: 100%;
            padding: 0 20px;

            a {
                color: white;
                display: inline-block;
                height: 100%;
                line-height: 50px;
                padding: 0 10px;
                position: relative;
                text-decoration: none;

                &.active {
                    background-color: rgba(255, 255, 255, .1);
                }
            }

            a.active::after {
                background: #61dafb;
                bottom: -1px;
                content: '';
                height: 4px;
                left: 0;
                position: absolute;
                right: 0;
            }

            a:hover {
                background-color: rgba(255, 255, 255, .1);
            }
        }

        a.home > img {
            height: 100%;
        }
    }
}

div[name=content] {
    margin-top: 50px;
    background-color: var(--grey-light)
}
